#article {
  h3 {
    margin-bottom: 10px;
  }

  code {
    background-color: gray;
    border-radius: 3px;
    padding: 1px 4px;
  }

  pre {
    width: 100%;
    background-color: gray;
    border-radius: 3px;
    padding: var(--lg-gap) var(--md-gap);
    box-sizing: border-box;
  }

  pre > code {
    width: 100%;
    text-wrap: wrap;
  }

  img {
    max-width: 100%;
  }
}