#about {
  height: 100%;
  width: 100%;
  margin: var(--xl-gap) 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--xl-gap);

  .blurb {
    p {
      text-align: center;
    }
  }

  .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--lg-gap);
    
    .card {
      width: 100%;
    }

    .cardHeader {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .cardBody {
      
    }
  }
}