#designs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--sm-gap);

  .image {
    object-fit: cover;
    width: 45%;
  }

  .scene {
    object-fit: cover;
    width: 100%;
  }
}