#article {
  h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  
  h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  h4 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  h5 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  h6 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 1.25rem;
  }

  span.katex-display {
    display: block;
    margin-bottom: 1rem;
  }

  .katex {
    font-size: 1.1em;
  }

  a {
    text-decoration: underline;
    color: var(--url-color);
  }

  p > code {
    background-color: var(--secondary-background-color);
    border-radius: 3px;
    padding: 1px 4px;
    font-size: 0.9rem;
  }

  div > pre {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .hljs-header {
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    padding: 0.5rem;
    padding-left: 1rem;
    background-color: rgb(225, 225, 225);
  }
  
  .hljs {
    border-radius: var(--rounding);
    padding: 1.25rem;
    font-size: 14px;
  }

  .katex-html {
    display: none;
  }

  p:has(> img) {
    display: flex;
    align-items: center;
  }

  img {
    border-radius: 0.75rem;
    max-width: 100%;
    margin: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
}