* { margin:0; padding:0; }
* { 
  cursor: url('../../public/static/images/hand-white.svg') 10 10, default;
}
*:active {
  cursor: url('../../public/static/images/hand-holding-white.svg') 10 10, pointer;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, monospace;
  color: black;

  width: 100%;
  height: fit-content;
  background-color: var(--background-color);
  
  display: flex;
  justify-content: center;
  align-items: center;

  --rounding: 15px;

  --background-color: #F5F5F5;
  --secondary-background-color: #D3D3D3;
  --primary-color: black;
  --primary-text-color: black;
  --url-color: #7393B3;
  --divider-color: gray;

  --super-gap: 200px;
  --xl-gap: 40px;
  --lg-gap: 20px;
  --md-gap: 10px;
  --sm-gap: 5px;

  --md-text: 16px;
  --sm-text: 14px;
  --xs-text: 10px;
}

body .narrow-container {
  width: 800px;
  padding: var(--xl-gap) var(--super-gap);
}

body .full-container {
  width: 100%;
  padding: var(--xl-gap) var(--super-gap);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    .narrow-container {
      width: 100%;
      padding: var(--xl-gap) var(--xl-gap);
    }
    .full-container {
      padding: var(--xl-gap);
    }
  }
}

a {
  color:var(--primary-text-color);
  text-decoration: none;
}
a:visited { color:var(--primary-text-color); }
a:hover, a > *:hover {
  text-decoration: underline;
  color:var(--primary-text-color);
  cursor: url('../../public/static/images/hand-pointer-white.svg') 10 10, pointer;
}
a:active, a > *:active {
  cursor: url('../../public/static/images/hand-holding-white.svg') 10 10, pointer;
}
a:focus { text-decoration: underline; color:var(--primary-text-color); }

button {
  > .back {
    height: 100%;
    width: auto;

    height: 40px;
    background-color: var(--background-color);
    color: black;
    border-radius: var(--rounding);
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 8px 12px;
  }
}

button:hover, button > *:hover {
  cursor: url('../../public/static/images/hand-pointer-white.svg') 16 16, pointer;
}

button:active, button > *:active {
  cursor: url('../../public/static/images/hand-holding-white.svg') 16 16, pointer;
}

h1 {
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: normal;
  font-size:larger;
}

h5 {
  font-weight: 300;
}

h6 {
  font-weight: 300;
  font-style: italic;
  font-size: small;
}

/* horizontal line */
hl {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  margin: var(--md-gap) 0px;
}