#ProjectLayout {
  display: flex;
  flex-direction: column;

  header {
    margin: var(--lg-gap) 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    button {
      position: absolute;
      left: 0;
    }
  }

  main {
    text-align: left;
    margin-top: var(--md-gap);
    margin-bottom: calc(var(--xl-gap) * 1.5);
    display: flex;
    flex-direction: column;
    gap: var(--lg-gap);
  }
}

@media screen and (max-width: 768px) {
  #ProjectLayout {
    header {
      justify-content: flex-end;
    }
  }
}
