#nav {
  position: absolute;
  top: 0;
  left: 0;

  .nav-links {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: var(--xl-gap);
    transform: translate(0%, -50%);

    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);

    .selector {
      position: absolute;
      visibility: hidden;
      left: -15px;
    }
  }

  .nav-end {
    position: fixed;
    z-index: 99;
    top: 50%;
    right: var(--xl-gap);
    transform: translate(0%, -50%);

    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);

    .circle {
      border-radius: calc(infinity * 1px);
      height: 10px;
      width: 10px;
      background-color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 768px) {
  #nav {
    .nav-links {
      top: var(--xl-gap);
      transform: translate(0%, 0%);
      position: absolute;
    }
    .nav-end {
      visibility: hidden;
    }
  }
}
